<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>swtsg</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>swtsg.icns</string>
			<key>CFBundleTypeName</key>
			<string>Star Wars TSG document</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSIsAppleDefaultForType</key>
			<true/>
		</dict>
	</array>
	<key>CFBundleExecutable</key>
	<string>Star Wars TSG</string>
	<key>CFBundleIconFile</key>
	<string>APPL.icns</string>
	<key>CFBundleIdentifier</key>
	<string>com.alienryderflex.StarWarsTSG</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.2.3</string>
	<key>CFBundleSignature</key>
	<string>SwTg</string>
	<key>CFBundleVersion</key>
	<string>123</string>
	<key>NSHumanReadableCopyright</key>
	<string>Coded by Darel Rex Finley 2007-2011.  See tutorial at alienryderflex.com/crawl</string>
	<key>NSMainNibFile</key>
	<string>MainMenu</string>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
</dict>
</plist>
